<h3>ticket subscribing component</h3>
<div class="container">
  <!-- <input type="number" value="ticket id" (keyup)="onNameKeyUp($event)"> -->
  <button [ngStyle]="{'background-color':subscribing === true ? 'green' : 'red'}" (click)="subscribe()">subscribe</button>
  <button (click)="removeProfile()">remove ticket</button>

  <div class="row" *ngIf="received">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <h5>New ticket has been added!</h5>
        <p class="list-group-item"> ID:{{received.ticketID}}  STATUS:{{received.ticketStatus}}</p>
      </div>
    </div>
  </div>
</div>
